<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Második Form</title>
</head>
<body>
    <h1>Második Form</h1>
    <img src="{{ url_for('static', filename='images/intro_2.png') }}" alt="Intro 2 kép">
    <p>Ez a második oldal tartalma...</p>
    <a href="{{ url_for('form3') }}">Következő oldal</a>
</body>
</html>