<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Főoldal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Chipet-Chapat projekt munka v1.0</h1>
    </header>
    <main>
        <p>Üdvözölünk a projektünkben!</p>
        <br>
        <h2>Csapattagok:</h2>
        <p>Balogh Léna - ECTPM2</p>
        <p>Kiss G. Ervin - H9ETGN</p>
        <p>Kovács Tamás - IYWXUK</p>
    <button onclick="window.location.href='/form1'">Következő oldal</button>
    </main>
</body>
</html>
